{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
{% if '/edit/' in request.path %}
<h1>Редактировать запись {{ form.instance.pk }}</h1>
{% elif "/delete/" in request.path %}
<h1>Удалить запись {{ form.instance.pk }}</h1>
  {% else %}
    <h1>Создать запись</h1>
  {% endif %}
<div class="card col-4 offset-md-3">
  <div class="card-header">
    Калькулятор ожидания дня рождения
  </div>
  <div class="card-body">
<form method = "post">
  {% csrf_token %}
  {% if not "/delete/" in request.path %}
  {% bootstrap_form form %}
  {% else %}
  <p>{{ form.instance.first_name }} {{ form.instance.last_name }}</p>
  <p>{{ form.instance.birthday }}</p>
  {% endif %}
  {% bootstrap_button button_type="submit" content="Отправить" %}
  </form>
</div>
</div>
{% with data=form.instance %}
  {% if form.is_valid %}
  <h5 class="offset-md-3">ID новой записи в БД: {{ data.id }}</h5>
  <p><h2 class="offset-md-3">Привет, {{ data.first_name }} {{ data.last_name }}</h2>
  {% if birthday_countdown == 0 %}
    С днем рождения!
    {% else %}
    <h5 class="offset-md-3">Осталось дней до дня рождения: {{ birthday_countdown }}!</h5>
    {% endif %}
  </p>
  {% endif %}
  {% endwith %}
{% endblock %}